    <div class="card ">
      <h2 class="card-header">World Map Covid-19 Stats</h2>
      <div class="card-body">
    
    <div #map style="height: 800px;"
          id="map"
         leaflet 
         (leafletMapReady)="initializeMap($event)"
         (leafletClick)="leftlClickEvent($event)"
         (leafletMouseOver)="mouseOverEvent($event)"
         (leafletMouseOut)="mouseOutEvent($event)"
         [leafletOptions]="options"
         [leafletLayers]="layers"
         >
    </div>
      </div>
    </div>