<!-- <div class="container">
<div class="card ">
  <h2 class="card-header">World Map Covid-19 Stats</h2>
  <div class="card-body">

<div #map style="height: 800px;"
     leaflet 
     [leafletOptions]="options">
</div>
  </div>
</div></div> -->
<!-- <div class="container"> -->
  <div class="row">
    <div class="col col-lg-3">
    <app-country-stats></app-country-stats>
    </div>
    <div class="col col-lg-7">

      <mat-tab-group>
        <mat-tab label="World">
          <app-world-map></app-world-map>
        </mat-tab>
        <mat-tab label="Country">
          <app-country-map></app-country-map>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
<!-- </div> -->