  <div class="row">
    <div  class="col col-lg-3">
      
      <div *ngFor="let country of covidData.countryCases | slice:0:10">
    <app-country-stats [country]="country.countriesAndTerritories" [cases]="country.deaths"></app-country-stats>
      </div>
    </div>
    <div class="col col-lg-7">

      <mat-tab-group>
        <mat-tab label="World">
          <app-world-map></app-world-map>
        </mat-tab>
        <mat-tab label="Country">
          <app-country-map></app-country-map>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>