<div class="fill">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <p>Auto-resizing sidenav</p> -->
      <mat-nav-list>

        <a mat-list-item class="side-button" [routerLink]="['/home']" routerLinkActive="router-link-active"> Home</a>
        <a mat-list-item class="side-button" [routerLink]="['/news']" routerLinkActive="router-link-active">News</a>
        <a mat-list-item class="side-button" [routerLink]="['/about']" routerLinkActive="router-link-active"> About
          me</a>
        <a mat-list-item class="side-button" [routerLink]="['/hire-me']" routerLinkActive="router-link-active"> Hire
          me</a>
        <a mat-list-item class="side-button" [routerLink]="['/privacy']" routerLinkActive="router-link-active">
          Privacy</a>
        <a mat-list-item class="side-button" [routerLink]="['/DMCA']" routerLinkActive="router-link-active"> DMCA</a>
        <a mat-list-item class="side-button" [routerLink]="['/disclaimer']" routerLinkActive="router-link-active">
          Disclaimer</a>

      </mat-nav-list>


    </mat-drawer>

    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/home" routerLinkActive="active">Covid World State</a></span>
      <span class="example-spacer "></span>
      <div class="m-3">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="GY9L2Z5XFB5J2" />
          <input type="hidden" name="item_name" value="To keep the site running" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
            name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>

      </div>
    </mat-toolbar>

    <div class="spacer">
      <router-outlet></router-outlet>
    </div>

    <div class="footer">
      <app-footer></app-footer>
    </div>
  </mat-drawer-container>
</div>