<div class="fill">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- <p>Auto-resizing sidenav</p> -->

 <mat-nav-list>

      <a mat-list-item class="side-button" [routerLink]="['/about']" routerLinkActive="router-link-active">About Site</a>
      <a mat-list-item class="side-button" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      <a mat-list-item class="side-button" [routerLink]="['/hire-me']" routerLinkActive="router-link-active">Hire me</a>


    </mat-nav-list>


  </mat-drawer>

<mat-toolbar color="primary">
    <button type="button"  aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
      <mat-icon matTooltip="Main Menu"  aria-label="Side nav toggle icon">menu</mat-icon>
    </button> 
    <span><a routerLink="/home" routerLinkActive="active">Covid World State</a></span>
    <span class="left-justifed space"> <a routerLink="/news" routerLinkActive="active"> News</a></span>
    <span class="left-space"> <a routerLink="/about" routerLinkActive="active">About us</a></span>
    <span class="left-space"><a routerLink="/hire-me" routerLinkActive="active">Hire me</a></span>
  </mat-toolbar>

<router-outlet></router-outlet>
<app-footer></app-footer>

</mat-drawer-container>
</div>