<div class="container">
<h1>App enhancement</h1>
<ul class="container">
    <li><s>Add data to map</s></li>
    <li><s>make all pages mobil and size abnostic</s></li>
    <li><s>add legal notices</s></li>
    <li><s>attach covid data to geojson data</s></li>
    <li>Add total cases numbers</li>
    <li>Add map legend</li>
    <li>add statistical data animation</li>
    <li>add fatalities per country animation on this tab <a>https://observablehq.com/@sanj/walmarts-growth</a></li>
    <li>finish covid news scroller</li>
    <li>Add on hover country daitails pop up either on mouse or to the site of the map</li>
    <li>Add SSL certificate</li>
    <li>submit to google adsense</li>
</ul>
<h1>App bugs</h1>
<ul class="container">
    <li><s>fix country with underslaches insted of spaces</s></li>
    <li><s>fix refresh issues</s></li>
    <li><s>prevent errors from being sent to server</s></li>
    <li><s>fix 404 page</s></li>
    <li><s>fix page search issues</s></li>
    <li><s>color countries with not data as blue</s></li>
    <li>footer inconsitency(it doesn't stays at a static possition)</li>
    <li>fix site scrolling our of bounds on map</li>
    <li>turn op daily site update</li>
</ul>
</div>