<div class="container">
<p><b>Digital Millennium Copyright Act ("DMCA")</b></p>
<p><span >Jose Gonzalez and associates</span> respects the intellectual property rights of others. Per the DMCA,
    <span >Jose Gonzalez and associates</span> will respond expeditiously to claims of copyright infringement on
    the Site if submitted to <span >Jose Gonzalez and associates</span>'s Copyright Agent as described below.
    Upon receipt of a notice alleging copyright infringement, <span >Jose Gonzalez and associates</span> will
    take whatever action it deems appropriate within its sole discretion, including removal of the allegedly infringing
    materials and termination of access for repeat infringers of copyright protected content.</p>
<p>If you believe that your intellectual property rights have been violated by <span >Jose Gonzalez and associates</span> or by a third party who has uploaded materials to our website, please provide the following
    information to the designated Copyright Agent listed below:</p>
<ol>
    <li>A description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
    <li>A description of where the material that you claim is infringing is located on the Site;</li>
    <li>An address, telephone number, and email address where we can contact you and, if different, an email address
        where the alleged infringing party, if not <span >Jose Gonzalez and associates</span>, can contact you;
    </li>
    <li>A statement that you have a good-faith belief that the use is not authorized by the copyright owner or other
        intellectual property rights owner, by its agent, or by law;</li>
    <li>A statement by you under penalty of perjury that the information in your notice is accurate and that you are the
        copyright or intellectual property owner or are authorized to act on the owner's behalf;</li>
    <li>Your electronic or physical signature.</li>
</ol>

<p><span>Jose Gonzalez and associates</span> may request additional information before removing any allegedly
    infringing material. In the event <span >Jose Gonzalez and associates</span> removes the allegedly
    infringing materials, <span >Jose Gonzalez and associates</span> will immediately notify the person
    responsible for posting such materials that <span >Jose Gonzalez and associates</span> removed or disabled
    access to the materials. <span >Jose Gonzalez and associates</span> may also provide the responsible person
    with your email address so that the person may respond to your allegations.</p>

<p>Pursuant to 17 U.S.C. 512(c). <span >Jose Gonzalez and associates</span> designated Copyright Agent is:</p>
<p >Jose Gonzalez<br>joseaugusto978@gmail.com</p>
</div>