.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
    
  .ng-invalid:not(form)  {
     border-left: 5px solid #a94442; /* red */
  }

  .container-form {
    display: flex;
    justify-content: center;
    margin: 30px 200px 30px 200px;
  }
  
  .full-width {
    width: 100%;
  }

  .filler{
  flex: 1 1 auto;
}
  mat-form-field {
    padding: 0px 20px 0px 20px;
  }
  button{
    margin: 20px;
    padding: 10px 20px 10px 20px;
  }
  td {
    padding-right: 8px;
  }
  .example-small-box, .example-large-box, .container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
  }
  