// .center{
//     margin-top: 50px;
//     margin-bottom: 50px;
//     margin-right: 400px;
//     margin-left: 400px;
// }

.pic-margin{

    margin-top: 10px;
    margin-bottom: 50px;
}

.skill-margin{

    // margin-top: 10px;
    margin-bottom: 50px;
}