<div class="center">
<div class=" mat-elevation-z4 container-form d-flex justify-content-center">
  <div class="col-md-4 text-center">
    <header>
     <h1 class="display-1"><i><b>A One Man Army</b></i></h1>
      <img class="rounded-circle pic-margin" src="../../../assets/img/jose.jpg" />
     </header>
   
 <p>I am a software Engineer from Massachusetts, skydiver, pilot, and a lover all things programming. </p>
 <div class="container skill-margin" >
     <h1 class="display-3"><u>Skill set</u></h1>
<span class="badge badge-pill badge-danger">JavaScript</span>
<span class="badge badge-pill badge-primary">C# Dotnet core</span>
<span class="badge badge-pill badge-primary">WPF</span>
<span class="badge badge-pill badge-secondary">Nodejs</span>
<span class="badge badge-pill badge-success">Angular</span>
<span class="badge badge-pill badge-danger">Rest</span>
<span class="badge badge-pill badge-warning">Docker</span>
<span class="badge badge-pill badge-warning">Kubernetes</span>
<span class="badge badge-pill badge-info">Linux</span>
<span class="badge badge-pill badge-light">Bash</span>
<span class="badge badge-pill badge-dark">Powershell</span>
<span class="badge badge-pill badge-primary">Microservices</span>
</div>
  </div> 
  

</div>
</div>